<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Thymeleaf Exercise #</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
            <meta charset="utf-8" />
    </head>

    <body>
            <table>
                <tr th:each="account: ${accounts}" th:object="${account}">
                    <td th:text="${accountStat.count}"></td>
                    <td th:text="*{animal}"/>
                    <td th:text="*{getBalanceInString()}"/>
                    <td th:text="*{animalType}"/>
                    <td th:text="*{isBadGuy()} ? 'Bad Guy' : 'Good guy'"/>
                    <td>
                        <form action="#" th:action="@{/raise}" method="post">
                            <input type="text" th:field="*{animal}"/>
                            <input type="submit" style="height: 30px; width:150px" value="Raise the balance!"/>
                        </form>
                    </td>
                </tr>
            </table>
    </body>
</html>