<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Club Nutrition Store</title>
</head>
<body>
<ul>
    <li><a href="/info.html">Information</a></li>
    <li><a href="/">Go Back</a></li>
</ul>

    <form>
        <label>Food</label>
        <select name="Food">
            <option value="salad">Salad</option>
            <option value="pizza">Pizza</option>
        </select>
        <label>Drink</label>
        <select name="Drink">
            <option value="water">Water</option>
            <option value="beer">Beer</option>
        </select>
        <button type="submit">Change</button>
    </form>
</body>
</html>