*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 500px;
}

div{
    display: inline-flex;
    margin: 10px;
    padding: 40px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    font-weight: bold;
    text-align: center;
    background-color: #0CEBDE;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
}  

div:first-child{
    background-color: #B90CEB;
}

div:last-child{
    background-color: #EBBE0C;
}