div {
    height: 380px;
    background-image: url("anakin.png");
    background-size: 100%, 100%;
    margin-right: 10%;
    margin-left: 10%;
}
.imgtxt {
    z-index:100;
    position:absolute;    
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    left:30%;
    top:200px;
}

main{
    margin-left: 30%;
    margin-right: 30%;
}